.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    color: #fff;
    font-size: 64px;
    z-index: 2;
    line-height: 1em;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .owl-prev {
    left: 0px
}

.owl-theme .owl-nav .owl-next {
    right: 0px
}

.pmcontentgallery .ratio-16x9.portrait img,
.pmcontentgallery .ratio-21x9.portrait img,
.pmcontentgallery .ratio-4x3.portrait img,
.pmcontentgallery .ratio-1x1.portrait img{
    width: auto !important;
    height: 100% !important;
    display: block !important;
    margin: 0 auto !important;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.pm-modal-gallery {
    z-index: 999999;
}
.modal-toggle {
    cursor: pointer;
}
/* modal is dark */
.pm-modal-gallery .modal {
    background: rgba(0, 0, 0, 0.9);
}
.pm-modal-gallery .modal .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.pm-modal-gallery .modal .modal-title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;  
    text-align: center;
}
.pm-modal-gallery .modal .modal-header .btn-close{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    background: none;
}
.pm-modal-gallery .modal .btn-prev, .pm-modal-gallery .modal .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1055;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.pm-modal-gallery .modal .btn-prev {
    left: 0px;
    margin: 0;
}
.pm-modal-gallery .modal .btn-next {
    right: 0;
    margin: 0;
}
.pm-modal-gallery .modal .btn[disabled] {
	display: none;
}